#particles-js {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

body {
    background-color: #1C1C1C;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.6s;
}

h2:hover{
    opacity: 0.4;
}

.card
{
    height: 400px;
    width: 380px;
  margin-top: 10%;
  margin-right: 5%;
  background: rgba( 255, 255, 255, 0.00 );
box-shadow: 0 8px 32px 0 #babbc41e;
backdrop-filter: blur( 2.5px );
-webkit-backdrop-filter: blur( 2.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
display: flex;
justify-content: center;
}

.card a {
    display: block;
    width: 100%;
    text-align: center;
    color: #ffa467;
    margin-top: 8px;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.3s;
    animation-name: onloadAnim;
    animation-duration: 1s;
}
.card a:hover {
    color: #fff;
}

.input-group {
    max-width: 350px;
    width: 100%;
    background: #f0f0f0;
    margin: 10px 0;
    height: 50px;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
    animation-name: onloadAnim;
    animation-duration: 1s;
}
.input-group i {
    text-align: center;
    line-height: 50px;
    color: #acacac;
    transition: 0.5s;
    font-size: 15px;
}
.input-group input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 500;
    font-size: 14px;
    color: #333;
    transition: 0.3s;
}

#togglePassword {
    cursor: pointer;
}

.btn {
    width: 100%;
    height: 45px;
    max-width: 300px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 25px;
    color: #f26200;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;

}

p {
    font-family: 'Poppins', sans-serif;

}
.btn i {
    font-size: 12px;
    margin-left: 4px;
}
.btn:hover {
    background: none;
    color: #fff;
}

.btn2 {
    width: 100%;
    height: 45px;
    max-width: 300px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 25px;
    color: #f26200;
    cursor: pointer;
    font-weight: 900;
    transition: 0.3s;
    margin-top: 10px;
    font-size: 0.9em;

}
.btn2 i {
    font-size: 12px;
    margin-left: 4px;
}
.btn2:hover {
    background: none;
    color: #fff;
}

@keyframes onloadAnim {
    from {
        transform: translateY(-88%);
    }
    to {
        transform: translateY(0);
    }
}


/* Responsivity */

@media only screen and (max-width: 990px) {
    body {
        background-size: 130%;
    }
}
@media only screen and (max-width: 740px) {
    body {
        background-size: 175%;
    }
}
@media only screen and (max-width: 555px) {
    body {
        background-size: 245%;
    }
}
@media only screen and (max-width: 420px) {
    body {
        background-size: 265%;
    }
}
@media only screen and (max-width: 380px) {
    body {
        background-size: 320%;
    }
}